<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <title>Breast Cancer Prediction</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body style="background-color: #d2deed">

  <div class="topnav" id="myTopnav">
    <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
    <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
    <a href="https://www.dadberg.com"><i class="fa fa-info-circle"></i> About</a>
  </div>

  <center>
    <div style="app-header; padding:5px;">
      <h2>Breast Cancer Prediction</h2>
      <p>Estimation by IBM Watson Machine Learning and AutoAI.</p>
      <p>Fill out the form to see an estimate.</p>
    </div>
  </center>

  <form class="text-center" style="border-style: solid; color: #757575; margin-bottom:10px; width:fit-content; padding:20px; margin:auto;" method="POST" action="/predict">
    <table width="100%">
      <tbody>
          <tr>
            <td>
              <div class="form-field">{{ form.mean_radius.label }} {{ form.mean_radius(size=20) }}</div>
            </td>
          </tr>
          <tr>
            <td>
                <div class="form-field ">{{ form.mean_texture.label }} {{ form.mean_texture }}</div>
                <!-- <div class="form-field ">{{ form.mean_texture.label }} {{ form.mean_texture }}</div>
                <select id="equalification" class="">
                  <option id="selectHeader">--------- Select Gender --------------</option>
                  <option value="male">{{form.mean_texture.value}}</option>
                  <option value="female">{{form.mean_texture.value}}</option>
                </select> -->
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.mean_perimeter.label }} {{ form.mean_perimeter }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.mean_area.label }} {{ form.mean_area }}</div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="form-field ">{{ form.mean_smoothness.label }} {{ form.mean_smoothness }}</div>
            </td>
          </tr>
      </tbody>
    </table>
    <input id="submit" style="margin-bottom: 10px;" name="submit" type="submit" onclick="startSpinner()" value="Predict">
    
    <br>
  </form>

  <div style="padding-top:5px" class="d-flex justify-content-center">
    <div id="loader" style="color:black; display: none;" class="spinner-border"></div>
  </div>
  <div class="output-container" style="padding:20px">
    <center>
      <div id="output">
        <h5 id="a">Predicted Chance: </h5>
        <h3 id="b" style="color:green;">{{ form.outcome }}</h3>
      </div>
    </center>
  </div>

  <script>

window.onload = function exampleFunction() { 
  
  // var output = document.getElementById("output");
  // output.style.display = "none"
} 

    function startSpinner() {
      var x = document.getElementById("loader");
      x.style.display = "block";
      var output = document.getElementById("output");
      output.style.display = "none"
      setTimeout(function () {
        var y = document.getElementById("output");
        var x = document.getElementById("loader");
        var a = document.getElementById("a");
        var b = document.getElementById("b");
        x.style.display = "none";
        y.style.display = "block"
        a.style.display = "block"
        b.style.display = "block"
      }, 3000);

    }
  </script>

</body>

</html>
